<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <title>Hotel Valley 960</title>
</head>

<body>
    <header class="header container">
        <div class="logo-block">
            <img src="./img/logo-1.png" alt="Долина 960" />
            <img src="./img/logo-2.png" alt="МАОТ" />
        </div>
        <nav class="nav" id="menu">
            <div class="navbar">
                <a href="index.html">Home</a>
                <a href="#cta">Rooms</a>
                <a href="#entertainment">Entertainment</a>
                <a href="#transfer">Transfer</a>
                <a href="#contacts">Contacts</a>
            </div>

            <div class="social-group">
                <a href="#"><img src="#" alt="Instagram" /></a>
                <a href="#"><img src="#" alt="YouTube" /></a>
                <button class="group-btn">Group Rides</button>
            </div>

            <button class="close" id="closeMenu" aria-label="Close Menu">
                <img src="./svg/close.svg" alt="Close Menu" />
            </button>
        </nav>

        <button class="burger" id="openMenu" aria-label="Open Menu">
            <img src="./svg/burger.svg" alt="Open Menu" />
        </button>

        <div class="overlay" id="overlay"></div>
    </header>

    <main id="content">
        <div class="hero">
            <div class="container">
                <div class="hero-content">
                    <h1>Hotel<br />"Dolina 960"</h1>
                    <a href="" class="book-btn">Quick Booking</a>
                </div>
            </div>
        </div>
        <section class="offers">
            <div class="container">
                <h2>Best Offers</h2>
                <div class="cards">
                    <div class="card">
                        <img src="./img/appartment-card__image_1.png" alt="Premium King" />
                        <div class="card-info">
                            <h3>Premium King</h3>
                            <p>₽ 4,000</p>
                            <button>More Details</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./img/appartment-card__image_2.png" alt="Exclusive King" />
                        <div class="card-info">
                            <h3>Exclusive King</h3>
                            <p>₽ 5,000</p>
                            <button>More details</button>
                        </div>
                    </div>
                    <div class="card">
                        <img src="./img/appartment-card__image_3.png" alt="Exclusive King" />
                        <div class="card-info">
                            <h3>Star King</h3>
                            <p>₽ 8,000</p>
                            <button>More details</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>